.accra{
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)),url('./images/acrra.jpg');
    background-size: cover;
    height: 99.9vh;
    width:700px;
    }
.zanzibar{
    background-image:linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url('./images/decor.jpg');
    background-size: cover;
    height: 99.9vh;
    width:700px;
    }
.decor{
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)),url('./images/zanzibar.jpg');
    background-size: cover;
    height: 99.9vh;
   width:700px;
    }
    .events{
        display: flex;
        position: relative;
    }
    .events img{
        position: absolute;
        margin-left:80vh;
        width: 300px;
    }
     .eventApp{
            font-size: 40px;
            color: white;
            position: absolute;
            background-color: black;
            margin-top: -18vh;
            width: 4.5vh;
            margin-left: 1790px;
        }
        .eventHeading ul{
            display: flex;
            list-style: none;
            gap:40px;
            font-size: 25px;
            background-color: black;
            padding: 15px;
            border-radius: 55px;
            position: relative;
            margin-top: -95vh;
            height:50px;
        }
        .accr{
            position:absolute;
            color:white;
            font-size: 30px;
            margin-top: 35vh;
            text-align: center;
            margin-left: 10vh;
        }
        .deco{
            position:absolute;
            color:white;
            font-size: 30px;
            margin-top: 35vh;
            text-align: center;
            margin-left: 20vh;
        }
        .zanziba{
            position:absolute;
            color:white;
            font-size: 30px;
            margin-top: 35vh;
            text-align: center;
            margin-left: 2vh;
        }
        @media screen and (min-width: 320px)and (max-width: 480px){
            .accra{
                background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)),url('./images/acrra.jpg');
                background-size: cover;
                height: 99.9vh;
                width:105px;
                }
            .zanzibar{
                background-image:linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url('./images/decor.jpg');
                background-size: cover;
                height: 99.9vh;
                width:105px;
                }
            .decor{
                background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)),url('./images/zanzibar.jpg');
                background-size: cover;
                height: 99.9vh;
               width:105px;
                } 
                .accr{
                    font-size: 10px;
                    margin-left: -3vh;
                }
                .deco{
                    font-size: 10px;
                    margin-top: 35vh;
                    text-align: center;
                    margin-left: -13vh;
                }
                .zanziba{
                    font-size: 10px;
                    margin-left: 2vh;
                    margin-left: 8vh;
                }
                .eventHeading ul{
                    margin-left: -4vh;
                    margin-top: -105vh;
                    font-size: 12px;
                    gap:5px;
                    padding: 10px;
                }
        }
        