.menuLogo img{
    margin-left: 83vh;
  width: 25vh;
  position: absolute;
  } 
  .menuHeading ul{
    display: flex;
    list-style: none;
    gap:40px;
    font-size: 25px;
    background-color: rgb(8, 8, 8);
    padding: 15px;
    border-radius: 55px;
    position: relative;
    height:50px;
   margin-left: -9vh;
   margin-top: -90vh;
  }
  .killimanMenu{
    background-image:linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)),url('./images/indoor-rich.jpg');
   height: 100vh;
    color:rgb(252, 242, 242);
    background-size: cover;
    background-repeat: no-repeat;
    height: 99.9vh;
    width:1000px;
}
  .menuApp{
    font-size: 40px;
    color: white;
    background-color: black;
    position: absolute;
    width: 4.5vh;
    margin-top: -10vh;
    margin-left: 1790px;
}
.kitisuruMenu{
    background-image:linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)),url('./images/indoor-rich.jpg');
   height: 100vh;
    color:rgb(248, 242, 242);
    background-size: cover;
    background-repeat: no-repeat;
    height: 99.9vh;
    width:1000px;
}
.menu{
    display: flex;
    font-size: 20px;
    text-align: center;
    position: relative;
}
.exploreMenu a{
    color:white;
    text-decoration: none;
}
.exploreMenu{
    margin-top:0.9vh ;
}
#menuWelcome{
    color:rgb(240, 13, 13);
    font-size: 40px;
    text-align: center;
    margin-top:35vh ;

}

