body{
   
    overflow-x: hidden;
    overflow-y: hidden;
    width:100%;
    margin: 0;
    font-family: American Typewriter Normal;
    

}
nav{
    display: flex;
    color: white;
    position: absolute;
    margin-top: 80vh;
    margin-left: 40vh;
}
nav ul{
    display: flex;
    list-style: none;
    gap:40px;
    margin-top:-1vh;
    font-size: 25px;
    background-color: black;
    padding: 15px;
    border-radius: 55px;
}
nav ul li a{
    text-decoration: none;
    color: rgb(245, 238, 238);
}
nav ul li i{
    margin-top: 0px;

}
nav i{
margin-left: 40px;
}
nav svg i{
    font-size: 30px;
    width:10vh;
    height:1.9vh;
}
#reserved{
    background-color:gray;
    padding: 10px;
    border-radius: 30px;
    margin-top: -1vh;
}
#reserved:hover{
    background-color: white;
    color:black;
}
#reserved a:hover{
    color:black;
}
.homePage{
    position: relative;
}
.image img{
    width:180px;
    margin-left: 100px;
    margin-top: 110px;
}
.image h1{
    color:gray;
    font-size: 100px;
    margin-left: 100px;
}
.image{
    width:100%;
     height: 99vh;
    justify-content: center;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
     position: absolute;
    animation: animate 20s  infinite forwards;
    opacity: 0;
}
.image:nth-child(1){
    background-image:linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url('./images/first.jpg'); .leggae img{
        width: 35px;
    }
    animation-delay: 0s;
}
.image:nth-child(2){
    background-image:linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url('./images/discover-image\ \(1\).jpg');
    animation-delay: 3s;
}
.image:nth-child(3){
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)),url('./images/experience-image.jpg');
    animation-delay: 6s;
}
.image:nth-child(4){
    background-image:linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url('./images/taste.jpg');
    animation-delay: 9s;
}
.image:nth-child(5){
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)),url('./images/savour.jpg');
    animation-delay: 12s;
}
@keyframes animate{
   0%{opacity: 0;} 
   10%{opacity:1;}
   30%{opacity:1;}
   40%{opacity:100;}
   100%{opacity:100;}

}
.socialIcons{
    font-size: 40px;
    position: relative;
    text-align: end;
    color: whitesmoke;
}
.whatsapp{
    font-size: 40px;
    color: white;
    position: relative;
    background-color: black;
    margin-top: 750px;
    width: 4.5vh;
    margin-left: 1800px;
}
.hours{
    background-color: white;
    box-shadow: 10px 0px 10px  0px;
    width: 300px;
    height: 300px;
    padding: 20px;
    margin:0 auto;
}
.svg{
    position: relative;
    display: block;
    margin-top: 0.4%;
}
.svg:hover{
    background-color: white;
    color: black;
}
.text-wrapper{
    display: inline-block;
    position: absolute;
    color: black;
    background-color: white;
    padding:3vh;
    border: none;
    width:30vh;
    border-radius: 20px;
    z-index:1;
    display: none;
    bottom:100px;
}
.svg:hover .text-wrapper{
    display: block;
}
    .paragraph{
        color:orange;
        
    }
    @media screen and (min-width: 320px)and (max-width: 480px){
        nav{
            margin-top: 95vh;
            margin-left: -5vh;
           }
           nav ul{
            font-size: 12px;
            gap:5px;
            padding: 10px;
           }
           .image img{
            width:150px;
            margin-left: -5vh;
           }
           .image h1{
            margin-left: -5vh;
            font-size: 40px;
           }
    .socialIcons{
        font-size: 20px;
        margin-left: 10vh;
    }
    .whatsapp{
        margin-top: 800px;
        width: 4vh;
        margin-left: 40vh;
    }
}
    